<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/progressively@1.2.5/dist/progressively.min.js" integrity="sha256-LvFVlLdfGI3WeEH+8Ni4kxLm02g2GlOfeGCGLXfRk/U=" crossorigin="anonymous"></script>
<script src="${context}/static/js/instantclick.min.js" data-instant-track></script>
<script src="${context}/static/js/device.js" data-instant-track></script>
<script src="${context}/static/js/base.js" data-instant-track></script>