#set(cool.develop.bingwallpaper.model.entity.BingWallpaper wallpaper = wallPaper)
#tag layout_block("bodyContent")
<div class="detail initBefore">
    <div class="preview">
        <div class="progressive">
            <img class="target progressive__img progressive--not-loaded" alt="${wallpaper.copyright}" src="${context}${imgHrefByHD(wallpaper)}" data-progressive="${context}${imgHrefByHD(wallpaper)}">
        </div>
        <div class="mark"></div>
        <div class="options" copyright="${wallpaper.title}" code="${wallpaper.hash}" fileName="${getFileName(wallpaper)}" data-no-instant>
            <a class="ctrl left" onclick="window.history.go(-1);">
                <i class="icon icon-left"></i>
                <em class="t">返回</em>
            </a>
            #if (mapUrl(wallpaper))
            <a id="event-share" class="ctrl share" href="${mapUrl(wallpaper)}" title="Google Map 查看">
                <i class="icon icon-share"></i>
                <em class="t">去看看</em>
            </a>
            #end
            <span id="event-heart" class="ctrl heart">
            <i class="icon icon-heart"></i>
            <em class="t">${wallpaper.likes}</em>
        </span>
            <a id="event-download" class="ctrl download">
                <i class="icon icon-download"></i>
                <em class="t">${wallpaper.downloads}</em>
            </a>
        </div>
        <div class="description">
            <p class="title">
            ${wallpaper.title}
            </p>
            #if (wallpaper.caption)
            <p>${wallpaper.caption}</p>
            #end
            #if (wallpaper.description)
            <p class="sub">${wallpaper.description}</p>
            #end
            <p class="icon icon-calendar">
                <em class="t">${unixTimeToString(wallpaper.date)}</em>
            </p>
            #if (attribute(wallpaper))
            <p class="location">
                <i class="icon icon-location"></i>
                <em class="t">${attribute(wallpaper)}</em>
            </p>
            #end
            <p class="view">
                <i class="icon icon-eye"></i>
                <em class="t">${wallpaper.hits}</em>
            </p>
        </div>
    </div>
</div>
#end
#tag layout_block("scriptContent")
<script type="text/javascript" data-instant-track>
    $(function () {
        var i = 0;
        var img = $(".target");
        var mini = img.attr("src");
        var mark = $(".mark");
        mark.css("background-image","url(" + mini + ")");
        progressively.init({
            delay: 20,
            throttle: 300,
            onLoadComplete: function () {
                i++;
                if (i >= 1) {
                    var big = img.attr("src");
                    mark.css({
                        backgroundImage: "url(" + big + ")",
                        filter: "blur(0)"
                    });
                    img.remove();
                    $(".detail").removeClass("initBefore");
                }
            }
        });
    });
</script>
<script type="text/javascript" data-no-instant>
    InstantClick.init('mousedown');
</script>
#end
#include("layout/layout.html")