#set(io.github.biezhi.anima.page.Page wallpaperPage = paging())
#set(cool.develop.bingwallpaper.model.entity.BingWallpaper wallpaper = null)
#include('./partial/header.html')
<body>
<header>
    <div class="container">
        <a class="logo" href="/">
            <i class="icon icon-bing"></i>
            <span id="hearts">必应壁纸</span>
        </a>
        <nav>
            <ul class="menu">
                <li class="active">
                    <a href="/">
                        <i class="icon icon-home"></i>
                        <p class="text">首页</p>
                    </a>
                </li>
                <li id="event-top-list">
                    <a href="/ranking/top">
                        <i class="icon icon-ranking"></i>
                        <p class="text">热门榜</p>
                    </a>
                </li>
                <li id="event-down-list">
                    <a href="/ranking/down">
                        <i class="icon icon-ranking"></i>
                        <p class="text">下载榜</p>
                    </a>
                </li>
                <li id="event-rss">
                    <a href="/feed/${country_code.code()}.xml">
                        <i class="icon icon-rss"></i>
                        <p class="text">订阅</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="holder"></div>
<div class="mask"></div>
<div class="container">
    #for(wallpaperItem : wallpaperPage.rows)
    <div class="item">
        <div class="card progressive" itemscope itemtype="https://schema.org.cn/ImageObject">
            <span itemprop="inLanguage" hidden>${wallpaperItem.country}</span>
            <img itemprop="contentUrl" class="progressive__img progressive--not-loaded"
                 data-progressive="${context}${imgHref(wallpaperItem,'800x480')}"
                 src="${context}${imgHref(wallpaperItem,'400x240')}"
                 alt="${wallpaperItem.copyright}">
            <a itemprop="url" class="mark" href="${context}${detailsHref(wallpaperItem)}"></a>
            <div class="description">
                <h3 itemprop="name">${wallpaperItem.copyright}</h3>
                <p class="calendar">
                    <i class="icon icon-calendar"></i>
                    <em class="t" itemscope="dateCreated">${unixTimeToString(wallpaperItem.date)}</em>
                </p>
                #if (attribute(wallpaperItem))
                <p class="location">
                    <i class="icon icon-location"></i>
                    <em class="t">${attribute(wallpaperItem)}</em>
                </p>
                #end
                <p class="view">
                    <i class="icon icon-eye"></i>
                    <em class="t">${wallpaperItem.hits}</em>
                </p>
            </div>
            <div class="options" copyright="${wallpaperItem.copyright}" code="${wallpaperItem.hash}" fileName="${getFileName(wallpaperItem)}">
                #if (mapUrl(wallpaperItem))
                <a class="ctrl share" rel="nofollow" href="${mapUrl(wallpaperItem)}" title="Google Map 查看">
                    <i class="icon icon-share"></i>
                    <em class="t">去看看</em>
                </a>
                #end
                <span class="ctrl heart">
                        <i class="icon icon-heart"></i>
                        <em class="t">${wallpaperItem.likes}</em>
                </span>
                <span class="ctrl download">
                    <i class="icon icon-download"></i>
                    <em class="t">${wallpaperItem.downloads}</em>
                </span>
            </div>
        </div>
    </div>
    #end
</div>
<div class="page">
    #if(wallpaperPage.hasPrevPage)
    <a href="${page_prefix}/${wallpaperPage.prevPage}/${wallpaperPage.limit}">上一页</a>
    #end
    <span>${wallpaperPage.pageNum} / ${wallpaperPage.totalPages}</span>
    #if(wallpaperPage.hasNextPage)
    <a href="${page_prefix}/${wallpaperPage.nextPage}/${wallpaperPage.limit}">下一页</a>
    #end
</div>
<div class="copyright">
    <label><select id="select-country">
        #for(lang : getAllCountry())
        <option value="${lang.code()}" #if(lang==country_code) selected #end>
            ${lang.cnName()}
        </option>
        #end
    </select></label>
    <span>图片来源于<a rel="nofollow" href="https://www.bing.com"> Bing 搜索</a></span>
    <span> | &copy; ${getYear()} <a rel="nofollow" href="https://github.com/vpday/bing-wallpaper">bing-wallpaper</a></span>
</div>
<script crossorigin="anonymous" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB"
        src="https://lib.baomitu.com/jquery/2.2.4/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-YzuBzK7WpT5Zo4GNMMctt9DR4rDCGENOg33RhQeeIm3NKYuSOy0m+SFKdsMjmX05"
        src="https://lib.baomitu.com/progressively/1.1.2/progressively.min.js"></script>
<script src="/static/js/device.js"></script>
<script src="/static/js/base.js"></script>
<script>
    $(function () {
        var i = 0;
        var timer = setInterval(function () {
            progressively.init();
            if (i++ === 5) {
                clearInterval(timer);
            }
        }, 1000 / 4);

        if (DEVICE.isMobile) {
            $(document.body).addClass("mobile");
        }

        hearts();

        function hearts() {
            var $one = $("#hearts");
            var heartCount = $one.width() / 50 * 5;
            for (var i = 0; i <= heartCount; i++) {
                var size = $.rnd(60, 120) / 10;
                $one.append('<span class="particle" style="top:' + $.rnd(20, 80) + '%; left:' + $.rnd(0, 95) + '%;width:' + size + 'px; height:' + size + 'px;animation-delay: ' + $.rnd(0, 30) / 10 + 's;"></span>');
            }
        }

        $("#select-country").change(function () {
            var code = $("#select-country option:selected").val();
            document.location = document.location.protocol + "//" + document.location.host + "/country/" + code;
        });
    });

    jQuery.rnd = function (m, n) {
        m = parseInt(m);
        n = parseInt(n);
        return Math.floor(Math.random() * (n - m + 1)) + m;
    };
</script>
</body>
</html>