<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    #if (null != urls && 0 < urls.size())
        #for(io.github.vpday.bingwallpaper.model.vo.Sitemap entry : urls)
        <url>
            <loc>${entry.loc}</loc>
            <lastmod>${entry.lastmod}</lastmod>
            <xhtml:link rel="alternate" hreflang="${entry.hreflang}" href="${entry.loc}"/>
            <xhtml:link rel="alternate" hreflang="x-default" href="${entry.defaultHref}" />
            #if (entry.hasImage)
            <image:image>
                <image:loc>${entry.imageLoc}</image:loc>
                <image:caption>${entry.imageCaption.escapeXml()}</image:caption>
                <image:title>${entry.imageTitle.escapeXml()}</image:title>
            </image:image>
            #end
        </url>
        #end
    #end
</urlset>
